/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
.mt-50 {
  margin-top: 50px;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.d-flex-center {
  display: flex;
  justify-content: center;
}

.bg-grey {
  background-color: #f1f1f1 !important;
}
